# Linux
# -------------------------------------------------------------
*~
*.bak

# This repo
# -------------------------------------------------------------
config/quickshell/*.zip
config/quickshell/*.png
config/argvus/.gtk-mode
